@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
}

div {
    margin-top: 20px;
}

button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 45px;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
            margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.verbs-instruction {
    border-color: #E062D8;
    color: #fff;
    box-shadow: 0 0 40px 40px #E062D8 inset, 0 0 0 0 #E062D8;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.verbs-instruction:hover {
    box-shadow: 0 0 10px 0 #E062D8 inset, 0 0 10px 4px #E062D8;
}

.regular-verbs {
    border-color: #2EE59D;
    color: #fff;
    box-shadow: 0 0 40px 40px #2EE59D inset, 0 0 0 0 #2EE59D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.regular-verbs:hover {
    box-shadow: 0 0 10px 0 #2EE59D inset, 0 0 10px 4px #2EE59D;
}

.irregular-verbs {
    border-color: #2EE59D;
    color: #fff;
    box-shadow: 0 0 40px 40px #2EE59D inset, 0 0 0 0 #2EE59D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.irregular-verbs:hover {
    box-shadow: 0 0 10px 0 #2EE59D inset, 0 0 10px 4px #2EE59D;
}

a {
    text-decoration: none;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    /* transform: translateY(-7px); */
}

section {
    position: absolute;
    text-align: center;
    margin-top: 300px;
}